version: '3.8'
services:
  mongo:
    image: mongo:latest
    container_name: pro_mongo
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./backend
    container_name: backend
    ports:
      - "8000:8000"
    environment:
      - MONGO_URI=mongodb://root:example@mongo:27017
      - JWT_SECRET=supersecret
    depends_on:
      - mongo

volumes:
  mongo_data:
